<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokemon</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>
            {% for image in poke_list %}
            <img src={{ image }} alt="">
            {% endfor %} 
        </h2>
        <form action=""><button type="onsubmit">Refresh</button></form>
    </body>
</html>